body{
    font-family: 'Bitter', serif;
    margin: 0;
    background-image: linear-gradient(aqua, lightgreen);
    /* border: 2px solid red; */
}
h1{
    font-size: 40px;
}
#name{
    color: rgb(189, 1, 1);
}
.flexible-container{
    /* border: 2px solid red;     */
    display: flex;
    margin-bottom: 0;
    margin-top: 0;

}
.half-width{
    /* border: 2px solid red; */
    margin-top: 0;
    padding-top: 0;
    width: 50%;
    padding: 5%;
    padding-top: 10%;
}
#top-image img{
    /* border: 2px solid red; */

    width: 40vw;
    margin-top: 12%;
    padding: 50px;
}
.link{
    text-decoration: none;
    background-image: linear-gradient(rgb(141, 211, 75), rgb(38, 157, 153) );
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    font-family: sans-serif;
    
}
p{
    text-align: justify;
}
.top-banner{
/* background-image: url(images/top-banner.png); */
background-repeat: no-repeat;
}
#bottom-image img{
    /* border: 2px solid red; */

    width: 40vw;
    margin-top: 20%;
    /* padding-right: 10px; */
    padding: 40px;
    border-radius: 70%;
}
.boy{
    /* background-image: url(images/dream-bg.png); */
    background-repeat: no-repeat;
    background-position: right;
}

.half-second{
    width: 50%;
    padding: 5%;
    padding-top: 12%;
    padding-left: 20px;
    /* border: 2px solid red; */

}
.rong{
    color: rgb(1, 4, 169);
}
.exi{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 75px;
}
.ex-left{
    
    margin: 10px;
    padding: 0 20px;
    box-shadow: 10px 10px 20px 5px rgba(91, 85, 85, 0.712);
    border-left: 7px solid tomato;
    border-radius: 7px;
}
.ex-right{
    margin: 10px;
    padding: 0 20px;
    box-shadow: 10px 10px 20px 5px rgba(91, 85, 85, 0.712);
    border-left: 7px solid blue;
    border-radius: 7px;
}
footer{
    font-weight: bolder;
    text-align: center;
    padding: 10px;
}